.footer{
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #041f60;
    color: white;
    width: 90vw;
    @media (max-width:768px) {
        flex-direction: column;
    }
    &__form{
        display: flex;
        // flex-direction: column;
        gap: 20px;
        @media (max-width:768px) {
            flex-direction: column;
        }
        &--white{
            color: white;
           
        }
        &-button{
            width: 100px;
    background-color: #041f60;
    height: 50px;
    border: 1px solid;
    color: white;
    @media (max-width:768px) {
        align-self: center;
    }
    &:hover{
        background-color: #233e7d;
        cursor: pointer;
        
    }
        }
    }
}
.foot-tex{
    align-self: center;
    
}