.cart-create{
    width: 500px;
    height: 60px;
    align-self: center;
    background-color: #041f60;
    color: white;
    border: 1px solid;
    font-size: 20px;
    // font-family: 'ArcadeClassic', sans-serif;
    // font-family: 'Cyrillic Pixel-7', sans-serif;
    &:hover{
        background-color: #233e7d;
        cursor: pointer;
    }
}

.input-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding: 20px 15px;
    border: 1px solid;
    background: white;
}
.form-input{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.rights{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.ticketName{
    align-self: center;
    font-size: 25px;
}
.cheers{
    align-self: center;
}
.poor-admin{
    background: url(../../common/imgs/Before.png) no-repeat;
    width: 150px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
    &:hover{
        background: url(../../common/imgs/AfterNew.png) no-repeat;
        background-size: contain;   
        width: 150px;
    height: 200px;
    }
}
.ticket{
    border: none;
    border-bottom: 1px solid;
    background: transparent;
}
.title-ticket{

}
.acception{
    width: 200;
    height: 60px;
    border: 1px solid;
}
.description-ticket{
    height: 100px;
    width: 500px;
}

.office-ticket{

}