.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;
    
}

.containerh{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    @media (max-width:768px) {
        flex-wrap: wrap;
    }
    &__themes{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        gap: 30px;
        padding: 20px;
        @media (max-width:768px) {
            max-width: 300px;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-self: center;
        // border: 1px solid;
        max-width: 900px;
        padding: 10px;  
        @media (max-width:768px) {
            max-width: 400px;
        }
    }
    &__parthners{
        padding: 50px 0px;
       align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

.part{
    color: #000;
}
.image-board{
    object-fit: contain;
    width: 97vw;
}
.building{
    width: 600px;
    height: 500px;
    margin: 20px;
}

.sub-themes{
    width: 600px;
    min-height: 200px;
    padding: 10px;
    // border: 1px solid;
}
.article{
    padding: 5px;
}

.parthners{
    // background: white;
    width: 70vw;
    display: flex;
    animation: marquee 16s linear infinite;
    gap: 30px;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    // overflow: hidden;
    &__cart{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 400px;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 180px;
        height: 100px;
    }
}
.part-title{
    color: grey;
}

@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-30%)
    }
}