@import url('https://fonts.cdnfonts.com/css/cyrillic-pixel-7');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Cyrillic Pixel-7', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.container{
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: url(./common/imgs/cords.jpg) no-repeat center center fixed;
  
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    // background: blanchedalmond;
}