@import url('https://fonts.cdnfonts.com/css/cyrillic-pixel-7');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Cyrillic Pixel-7', sans-serif;
    font-family: 'Roboto Slab', serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: url(./common/imgs/corda.jpg) no-repeat center center fixed;
  
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    // background: blanchedalmond;
}

.back-button {
    position: fixed;
    /* right: 10px; */
    top: 88%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 40px;
    left: 10%;
    color: rgba(17, 16, 16, 0.651);
    background: rgba(69, 116, 168, 0.685);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}